body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    font-size: 3rem;
    color: #343a40;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
    color: #495057;
}

.card-text {
    font-size: 1.1rem;
}

#description1, #description2, #description3, #description4, #description5 {
    font-style: italic;
    color: #6c757d;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
    text-align: center;
}
